ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  body{
    background-image: url(Pusheen.png);
    opacity: 1.0;
    text-align: center;
  }

  .s-form{
    background-color: rgba(245, 245, 245, 0.4);   
    
     padding:25px ;
     border-radius: 25px;
     display: inline-block;
  
   }

   p{
       font-size: 14px;
       font-weight: bold;

   }
   .green{
    color:greenyellow;
   }

   .red{
       color: red;

   }




  #imageHolder{
    /* background-color: rgba(245, 245, 245, 0.4); */

  }
  #image{
    width:500px;
    height: 450px;   
    /* background-color: rgba(245, 245, 245, 0.4); */
    border-radius: 25px;



  }